 <div class="client_show_page">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12">
 				  <strong>Name:</strong>
					 <h3> <%= @client.name %> </h3>
					 

					<%= render  @client.requests %>
					<%= render "requests/form_request" %>

					<%= render @client.personnel_infos %>

					<%= render "personnel_infos/form_personnel_info" %>


					<%= link_to 'Back', clients_path %>

 			</div>
 		</div>
 	</div>
 </div>
 
