  <% if user_signed_in? %>
<div class="new_requestor">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
          <div class=" ">
 				  
							<div class="row">
								<div class="col-md-12">
									<%= render  @client.requests %>
								  <%= render "requests/form_request" %>
									
									

								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-12">
								<h3>Please provide personnel info, thanks</h3>
								<%= render "personnel_infos/form_personnel_info" %>
								  <%= render @client.personnel_infos %> 
									

								</div>
							</div>
				 

					<%= link_to 'Back', clients_path , class: 'btn btn-info' %>

 	     </div> 
    </div>
  </div>
</div>
 </div>

  <% end %>