 
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<%= render  @client.requests %>
<%= render "requests/form_request" %>

<%= render @client.personnel_infos %>

<%= render "personnel_infos/form_personnel_info" %>


<%= link_to 'Back', clients_path %>
