<%= form_for([@client, @client.requests.build]) do |form| %>
 



<div class="flex-style">
   <p><strong> TO BE COMPLETED </strong><em>BY Requestor</em> <br> <em><strong>(Please print clearly and fill out from completely)</strong></em></p>

    <div class="field flex-style text-center ">
    <%= form.label :date_of_request %>
    <%= form.text_field :date_of_request, id: :request_date_of_request, class: "form-control", placeholder: '11/11/2017' %>
     
    </div> 
</div>


 <div class="flex-style">
    <p class="underline_style">Type of Request:</p>
 

  <div class="field">
    <%= form.label :new_account %>
    <%= form.check_box :new_account, id: :request_new_account %>
  </div>

  <div class="field">
    <%= form.label :change_privileges %>
    <%= form.check_box :change_privileges, id: :request_change_privileges %>
  </div>
 
  <div class="field">
    <%= form.label :disable_account %>
    <%= form.check_box :disable_account, id: :request_disable_account %>
  </div>

  <div class="field">
    <%= form.label :re_enable_account %>
    <%= form.check_box :re_enable_account, id: :request_re_enable_account %>
  </div>
</div>


<div class="flex-style">
 <p class="underline_style">Affiliation:</p>
  <div class="field">
    <%= form.label :mc %>
    <%= form.check_box :mc, id: :request_mc %>
  </div>

  <div class="field">
    <%= form.label :hmfp %>
    <%= form.check_box :hmfp, id: :request_hmfp %>
  </div>

  <div class="field">
    <%= form.label :apg %>
    <%= form.check_box :apg, id: :request_apg %>
  </div>

  <div class="field">
    <%= form.label :ap_hmfp %>
    <%= form.check_box :ap_hmfp, id: :request_ap_hmfp %>
  </div>

  <div class="field">
    <%= form.label :mc_corporate %>
    <%= form.check_box :mc_corporate, id: :request_mc_corporate %>
  </div>

  <div class="field">
    <%= form.label :other %>
    <%= form.check_box :other, id: :request_other %>
  </div>

  <div class="field">
    <%= form.label :specify %>
    <%= form.text_area :specify, id: :request_specify, class: "form-control" , placeholder: 'Enter here for specify' %>
  </div>

 
</div>
 <br>
  <div class="actions">
    <%= form.submit "SAVE >",  class: "btn btn-outline-primary" %>
    <%= link_to "NEXT",  new_client_personnel_info_path(@client), class: "btn btn-outline-primary float-right" %>
    
      
  </div>
<% end %>
