  <% if user_signed_in? %>
<div class="new_requestor">
  
    
          <div class=" ">
 
        <td><%= request.client.name %></td>
        <td><%= request.date_of_request %></td>
        <td><%= request.new_account %></td>
        <td><%= request.change_privileges %></td>
        <td><%= request.change_privileges %></td>
        <td><%= request.disable_account %></td>
        <td><%= request.re_enable_account %></td>
        <td><%= request.mc %></td>
        <td><%= request.hmfp %></td>
        <td><%= request.apg %></td>
        <td><%= request.ap_hmfp %></td>
        <td><%= request.mc_corporate %></td>
        <td><%= request.other %></td>
        <td><%= request.specify %></td>
        
     </div>
    </div>
    <% end %>    