 
<p>
  <strong>Date of request:</strong>
  <%=  request.date_of_request %>
</p>

<p>
  <strong>New account:</strong>
  <%=  request.new_account %>
</p>

<p>
  <strong>Change privileges:</strong>
  <%=  request.change_privileges %>
</p>

<p>
  <strong>Change privileges:</strong>
  <%= request.change_privileges %>
</p>

<p>
  <strong>Disable account:</strong>
  <%= request.disable_account %>
</p>

<p>
  <strong>Re enable account:</strong>
  <%=  request.re_enable_account %>
</p>

<p>
  <strong>Mc:</strong>
  <%=  request.mc %>
</p>

<p>
  <strong>Hmfp:</strong>
  <%=  request.hmfp %>
</p>

<p>
  <strong>Apg:</strong>
  <%=  request.apg %>
</p>

<p>
  <strong>Ap hmfp:</strong>
  <%=  request.ap_hmfp %>
</p>

<p>
  <strong>Mc corporate:</strong>
  <%=  request.mc_corporate %>
</p>

<p>
  <strong>Other:</strong>
  <%=  request.other %>
</p>

<p>
  <strong>Specify:</strong>
  <%=  request.specify %>
</p>

<p>
  <strong>Client:</strong>
  <%=  request.client.name %>
</p>
 