  <% if user_signed_in? %>
<div class="new_requestor">
  
    
          <div class=" ">
       <table class="table   table-hover table-responsive">
        <thead>
          <tr>
            <th>Date of request</th>
            <th>New account</th>
            <th>Change privileges</th>
            <th>Change privileges</th>
            <th>Disable account</th>
            <th>Re enable account</th>
            <th>Mc</th>
            <th>Hmfp</th>
            <th>Apg</th>
            <th>Ap hmfp</th>
            <th>Mc corporate</th>
            <th>Other</th>
            <th>Specify</th>
            <th>Client</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
              <td><%= request.client.name %></td>
              <td><%= request.date_of_request %></td>
              <td><%= request.new_account %></td>
              <td><%= request.change_privileges %></td>
              <td><%= request.change_privileges %></td>
              <td><%= request.disable_account %></td>
              <td><%= request.re_enable_account %></td>
              <td><%= request.mc %></td>
              <td><%= request.hmfp %></td>
              <td><%= request.apg %></td>
              <td><%= request.ap_hmfp %></td>
              <td><%= request.mc_corporate %></td>
              <td><%= request.other %></td>
              <td><%= request.specify %></td>
              
          
            </tbody>
        </table>
        </div>
    </div>
    <% end %>    