 
<p>
  <strong>Last name:</strong>
  <%=  personnel_info.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= personnel_info.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%=  personnel_info.middle_initial %>
</p>

<p>
  <strong>Title:</strong>
  <%=  personnel_info.title %>
</p>

<p>
  <strong>Employee:</strong>
  <%=  personnel_info.employee_id %>
</p>

<p>
  <strong>D o b:</strong>
  <%=  personnel_info.D_O_B %>
</p>

<p>
  <strong>Ssn last 4 digit:</strong>
  <%=  personnel_info.SSN_last_4_digit %>
</p>

<p>
  <strong>Sex male:</strong>
  <%=  personnel_info.sex_male %>
</p>

<p>
  <strong>Sex female:</strong>
  <%=  personnel_info.sex_female %>
</p>

<p>
  <strong>Manager sponsor  home dept:</strong>
  <%=  personnel_info.manager_sponsor__home_dept_id %>
</p>

<p>
  <strong>Dept name:</strong>
  <%=  personnel_info.Dept_Name %>
</p>

<p>
  <strong>Job code :</strong>
  <%=  personnel_info.Job_Code_ %>
</p>

<p>
  <strong>Hcw1:</strong>
  <%=  personnel_info.HCW1 %>
</p>

<p>
  <strong>Hcw2:</strong>
  <%= personnel_info.HCW2 %>
</p>

<p>
  <strong>Hcw3:</strong>
  <%=  personnel_info.HCW3 %>
</p>

<p>
  <strong>Ihcw:</strong>
  <%=  personnel_info.IHCW %>
</p>

<p>
  <strong>Nhcw:</strong>
  <%=  personnel_info.NHCW %>
</p>

<p>
  <strong>Business:</strong>
  <%=  personnel_info.Business %>
</p>

<p>
  <strong>Clinical:</strong>
  <%=  personnel_info.Clinical %>
</p>

<p>
  <strong>Education:</strong>
  <%=  personnel_info.Education %>
</p>

<p>
  <strong>Student:</strong>
  <%=  personnel_info.Student %>
</p>

<p>
  <strong>Research:</strong>
  <%=  personnel_info.Research %>
</p>

<p>
  <strong>Clinical research:</strong>
  <%=  personnel_info.Clinical_Research %>
</p>

<p>
  <strong>Research collaborator collab type:</strong>
  <%=  personnel_info.Research_Collaborator_collab_type %>
</p>

<p>
  <strong>Clinical research:</strong>
  <%=  personnel_info.Clinical_Research %>
</p>

<p>
  <strong>Basic research:</strong>
  <%=  personnel_info.Basic_Research %>
</p>

<p>
  <strong>Full time:</strong>
  <%=  personnel_info.Full_Time %>
</p>

<p>
  <strong>Part time:</strong>
  <%=  personnel_info.Part_Time %>
</p>

<p>
  <strong>Per diem:</strong>
  <%=  personnel_info.Per_Diem %>
</p>

<p>
  <strong>Temp student contract:</strong>
  <%=  personnel_info.Temp_Student_Contract %>
</p>

<p>
  <strong>Empl begin date:</strong>
  <%=  personnel_info.Empl_begin_date %>
</p>

<p>
  <strong>Empl end date:</strong>
  <%=  personnel_info.Empl_end_date %>
</p>

<p>
  <strong>Work location building floor room:</strong>
  <%=  personnel_info.Work_Location_Building_Floor_Room %>
</p>

<p>
  <strong>Work phone:</strong>
  <%=  personnel_info.Work_Phone %>
</p>

<p>
  <strong>Practice address if applicable street city:</strong>
  <%=  personnel_info.Practice_Address_if_applicable_street_city %>
</p>

<p>
  <strong>Client:</strong>
  <%=  personnel_info.client %>
</p>

 