 

<h1>Personnel Infos</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Middle initial</th>
      <th>Title</th>
      <th>Employee</th>
      <th>D o b</th>
      <th>Ssn last 4 digit</th>
      <th>Sex male</th>
      <th>Sex female</th>
      <th>Manager sponsor  home dept</th>
      <th>Dept name</th>
      <th>Job code </th>
      <th>Hcw1</th>
      <th>Hcw2</th>
      <th>Hcw3</th>
      <th>Ihcw</th>
      <th>Nhcw</th>
      <th>Business</th>
      <th>Clinical</th>
      <th>Education</th>
      <th>Student</th>
      <th>Research</th>
      <th>Clinical research</th>
      <th>Research collaborator collab type</th>
      <th>Clinical research</th>
      <th>Basic research</th>
      <th>Full time</th>
      <th>Part time</th>
      <th>Per diem</th>
      <th>Temp student contract</th>
      <th>Empl begin date</th>
      <th>Empl end date</th>
      <th>Work location building floor room</th>
      <th>Work phone</th>
      <th>Practice address if applicable street city</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personnel_infos.each do |personnel_info| %>
      <tr>
        <td><%= personnel_info.last_name %></td>
        <td><%= personnel_info.first_name %></td>
        <td><%= personnel_info.middle_initial %></td>
        <td><%= personnel_info.title %></td>
        <td><%= personnel_info.employee_id %></td>
        <td><%= personnel_info.D_O_B %></td>
        <td><%= personnel_info.SSN_last_4_digit %></td>
        <td><%= personnel_info.sex_male %></td>
        <td><%= personnel_info.sex_female %></td>
        <td><%= personnel_info.manager_sponsor__home_dept_id %></td>
        <td><%= personnel_info.Dept_Name %></td>
        <td><%= personnel_info.Job_Code_ %></td>
        <td><%= personnel_info.HCW1 %></td>
        <td><%= personnel_info.HCW2 %></td>
        <td><%= personnel_info.HCW3 %></td>
        <td><%= personnel_info.IHCW %></td>
        <td><%= personnel_info.NHCW %></td>
        <td><%= personnel_info.Business %></td>
        <td><%= personnel_info.Clinical %></td>
        <td><%= personnel_info.Education %></td>
        <td><%= personnel_info.Student %></td>
        <td><%= personnel_info.Research %></td>
        <td><%= personnel_info.Clinical_Research %></td>
        <td><%= personnel_info.Research_Collaborator_collab_type %></td>
        <td><%= personnel_info.Clinical_Research %></td>
        <td><%= personnel_info.Basic_Research %></td>
        <td><%= personnel_info.Full_Time %></td>
        <td><%= personnel_info.Part_Time %></td>
        <td><%= personnel_info.Per_Diem %></td>
        <td><%= personnel_info.Temp_Student_Contract %></td>
        <td><%= personnel_info.Empl_begin_date %></td>
        <td><%= personnel_info.Empl_end_date %></td>
        <td><%= personnel_info.Work_Location_Building_Floor_Room %></td>
        <td><%= personnel_info.Work_Phone %></td>
        <td><%= personnel_info.Practice_Address_if_applicable_street_city %></td>
        <td><%= personnel_info.client %></td>
        <td><%= link_to 'Show', personnel_info %></td>
        <td><%= link_to 'Edit', edit_personnel_info_path(personnel_info) %></td>
        <td><%= link_to 'Destroy', personnel_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personnel Info', new_personnel_info_path %>
